/*:root {
    --bg-color: #fdfaf6;
    --card-bg-color: #ffffff;
    --text-color: #5c544b;
    --primary-color: #d3bca7;
    --heading-color: #8c7d6e;
    --font-heading: 'Cormorant Garamond', serif;
    --font-body: 'Poppins', sans-serif;
}
*/

:root {
    --bg-color: #ffbfcb;
    --card-bg-color: #ffdce4; /* Branco para dar mais contraste e leveza */
    --text-color: #501f2c;    /* Cor mais escura para garantir a legibilidade */
    --primary-color: #a86f7b;
    --heading-color: #7c4754;
    --font-heading: 'Cormorant Garamond', serif;
    --font-body: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 720px;
    width: 100%;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
}

/* Seção Inicial */
#inicio .logo {
    color: var(--primary-color);
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
}

#inicio h1 {
    font-family: var(--font-heading);
    color: var(--heading-color);
    font-size: 2rem;
    margin-bottom: 5px;
}

#inicio p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.designer-name {
    font-weight: 600;
    color: var(--primary-color);
}

/* Seção Sobre Mim */
.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 900;
}

.bio {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-top: 10px;
}

/* Seção de Serviços */
.service-card {
    padding: 2rem;
    overflow: hidden;
}

.service-card img {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
}

.service-img {
    border-radius: 20px;
}

.service-card h3 {
    font-weight: 800;
    color: var(--heading-color);
    font-size: 1.5rem;
    margin: 20px;
}

.service-desc {
    padding: 0 20px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.price {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.maintenance, .category {
    font-size: 0.85rem;
    padding: 0 20px 20px 20px;
}

.maintenance strong {
    font-weight: 600;
}

/* Seção de Pagamento */
.payment-methods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.method i {
    font-size: 2.5rem;
    color: var(--primary-color);
}

/* Seção de Contato */
.contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.contact-icon:hover {
    background-color: var(--primary-color);
    color: white;
}

.contact-icon i {
    font-size: 1.5rem;
    width: 30px; /* Alinha os ícones */
    text-align: center;
}